<h3>New Contact</h3>
<div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div ng-controller="">
                <div class="form-group">
                    <div class="radio list-inline center-block text-center">
                    <label></label>
                    <input type="text" class="form-control" placeholder="First Name........." ng-model="newContact.firstName" /><br>
                    <input type="text" class="form-control" placeholder="Last Name........." ng-model="newContact.lastName" /><br>
                    <input type="text" class="form-control" placeholder="Street Address........." ng-model="newContact.streetAddress" /><br>
                    <input type="text" class="form-control" placeholder="City........." ng-model="newContact.city" /><br>
                    <input type="text" class="form-control" placeholder="State........." ng-model="newContact.state" /><br>
                    <input type="text" class="form-control" placeholder="Zip........." ng-model="newContact.zip" /><br> 
                    <input type="text" class="form-control" placeholder="Phone Number........." ng-model="newContact.phone" /><br> 
                    <input type="text" class="form-control" placeholder="Email........." ng-model="newContact.email" />
                      
                      <button class="btn btn-danger" ng-click="addNewContact()">Submit</button>   <!-- change ng-click to new function for new address -->
                    </div>
                </div>
            </div>
        </div>