<div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div ng-controller="">
                <div class="form-group">
                    <div class="radio list-inline center-block text-center">
                    <label></label>
                    <input type="text" class="form-control" placeholder="First Name........." ng-model="searchText" /><br>
                    <input type="text" class="form-control" placeholder="Last Name........." ng-model="searchText" /><br>
                    <input type="text" class="form-control" placeholder="Street Address........." ng-model="searchText" /><br>
                    <input type="text" class="form-control" placeholder="City........." ng-model="searchText" /><br>
                    <input type="text" class="form-control" placeholder="State........." ng-model="searchText" /><br>
                    <input type="text" class="form-control" placeholder="Zip........." ng-model="searchText" /><br> 
                    <input type="text" class="form-control" placeholder="Phone Number........." ng-model="searchText" /><br> 
                    <input type="text" class="form-control" placeholder="Email........." ng-model="searchText" />
                      
                      <button class="btn btn-danger" ng-click="addNewItem()">Submit</button>   
                    </div>
                </div>
            </div>
        </div>