<input type="text" name="" placeholder="Search for ..." ng-model="searchText">
<h3>Contacts</h3>
<div ng-repeat="contact in contacts | filter: searchText">
    <div class="panel panel-default">
        <div class="panel-body">
           
            <div class="col-xs-7"><a ng-href="#!/contact/view/{{contact.id}}">{{contact.firstName}}</a></div>
            <div class="col-xs-1 col-xs-offset-2">{{contact.lastName}}</div>
            <div class="col-xs-1">
                <button class="btn btn-danger fa fa-trash-o" ng-click="deleteContact(contact.id)"></button>
            </div>
        </div>
    </div>
</div>