<!DOCTYPE html>
<html>

<head>
    <title>Address Book</title>
    <link rel="stylesheet" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
</head>

<body ng-app="AddressApp">

        <h1 class="list-inline center-block text-center">Address Book</h1>
 
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div ng-controller="">
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" placeholder="Search Mushrooms ........." ng-model="searchText" />
                    <div class="radio list-inline center-block text-center">
                        <label class="radio-inline">
                            <input type="radio" ng-model="isEdible" value="false">$$$$$$$$</label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="isEdible" value="true">#########</label>
                        <div ng-repeat="item in mushroomItems | filter: searchText | filter: isEdible">
                            <!-- <h3>{{item.name}}</h3> -->
                            <!-- <p>{{item.description}}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


	<div ng-controller="ItemCtrl">{{addy}}</div>








    <script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="./lib/bower_components/angular/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script type="text/javascript" src="./javascripts/main.js"></script>
</body>

</html>
